<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="10.1.1" targetFramework="net472" />
  <package id="Dapper" version="2.0.123" targetFramework="net472" />
  <package id="F23.StringSimilarity" version="4.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Nuna.Lib.NetStandard" version="1.0.105" targetFramework="net472" />
  <package id="RibbonWinForms" version="5.0.1.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="22.2.9" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="22.2.9" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="22.2.9" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>